@font-face {
	font-family: "AzoftSans";
	src: url("../font/AzoftSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "FontspringDEMOmercenary";
	src: url("../font/FontspringDEMOmercenary-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "AzoftSans";
	src: url("../font/AzoftSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
